@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Libre+Baskerville:wght@400;700&family=Recursive:wght@700&display=swap');

.escondido {
    display: none;
}

/*=========================STYLE PÁGINA DE INICIAL=====================*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    color: #260339;
}

body {
    background-color: #582A72;
    font-family: 'Recursive', sans-serif;
}

.principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
}

.principal>section {
    padding: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.principal>.area-cabeca {
    border-radius: 3px 3px 0 0;
    padding: 0;
}

.topo-caixa {
    border: 2px solid #000;
    border-radius: 3px 3px 0 0;
    display: flex;
    padding: 2px;
    font-size: 15px;
    box-shadow: 8px 8px #000;
    background-color: #9775AA;
    gap: 8px;
}

.topo-caixa>img {
    width: 18px;
}

.corpo-caixa {
    font-weight: 900;
    font-size: 50px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: 8px 8px #000;
    background-color: #9775AA;
}

.corpo-caixa>p {
    font-family: 'Cookie', cursive;
    font-size: 20px;
    font-weight: 100;
}

.navegacao {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 30px;
}

button {
    box-shadow: 8px 5px #000;
    background-color: #9775AA;
    outline: 3px #000 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    width: 250px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
}


button::target-text{
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}
  
button:hover {
    background-color: transparent;
}

button:hover {
    color: #9775AA;
}

button:hover {
    cursor: pointer;
}

.rodape {
    border-top: 1px solid #000;
    width: 100%;
    height: auto;
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}




/*=========================STYLE PÁGINA DE SOBRE=====================*/

#area-quem-somos>* {
    padding: 10px;
}

.img-logo {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    padding: 5px;
}

.titulo-quem-somos {
    font-size: 40px;
}

.texto-quem-somos {
    text-align: justify-all;
    font-size: 20px;
}




/*=========================STYLE PÁGINA DE ERRO=====================*/


/* #area-erro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
}

.voltar {
    box-shadow: 8px 5px #000;
    background-color: #9775AA;
    outline: 3px #000 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    width: 100px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.voltar::target-text{
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.voltar:hover {
    background-color: transparent;
}

.voltar:hover {
    color: #9775AA;
}

.voltar:hover {
    cursor: pointer;
}
*/